footer{
    background-color: white;
    p{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 14px;
        color: $colorLetras;
        margin: 24px 46px;
        
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 16px;
        margin-bottom: 31px;
    }
    div i {
        color: $colorLetras;
    }
    

}


