$colorBackground: rgb(97, 78, 78);
$colorLetras: rgba(6,10,36,1); 
$colorButton: rgba(0,243,187,1);
$colorGradiente1: rgba(0,0,255,1);
$colorGradiente2: rgba(0,0,163,1);
$colorPunto:rgba(0,0,236,1);
$colorNavbar: rgba(0,0,236,1);
$colorGradienteboton1: rgba(0,0,254,1);
$colorGradienteboton2: rgba(0,240,184,1);

