.venimos{
    margin-top: 27px;
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        color: $colorLetras;
        font-size: 36px;
        line-height: 42px;
        margin: 27px 16px 8px 16px;
    }
    p{
        font-family: 'IBM Plex Mono', monospace;
        margin: 8px 16px 54px 16px;
    }
}